
.game-container {
    background-image: url("https://opengameart.org/sites/default/files/forum-attachments/grasstest_1.png");
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    border: 10px solid purple; 
    text-shadow: 5px 5px 0px #eee, 7px 7px 0px #707070;;
    box-shadow:  5px 5px 0px #eee, 7px 7px 0px #707070;            
}