.p-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1;
    padding-bottom: 1%;
    top: 10%;
    display: flex;
    gap: .5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

}


 div > p {
    font-size: 20px;
    align-self: flex-end;
    padding-left: 0px;
    padding-right: 20px;
    border: 7px solid #2C4E72;
    background-color: yellow;
    padding: 10px;
    
}

p > span {
    padding: 1px;
    height: 40px;
    width: auto;
}