@import './variables.scss';

.stats {
    grid-area: stats;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1;
    padding-bottom: 1%;
    display: flex;
    gap: .5rem;
}

 .stats > p {
    font-size: 20px;
    align-self: flex-end;
    margin-bottom: 10px;
    padding-right: 20px;
    border: 7px solid purple;
    background-color: #ffd778;
    text-shadow: 2px 2px 0px #eee, 5px 5px 0px #707070;;
    box-shadow:  2px 2px 0px #eee, 5px 5px 0px #707070;
    padding: 10px;
    border-radius: 10px;
}

#timerEl, #nameEl, #scoreEl, #bugBelly, #visitsEl {
    background-color: $text-background;
    padding: 4px;
    border: 2px solid purple;
    border-radius: 10px;
}

p > span {
    padding: 1px;
    height: 40px;
    width: auto;
}