.p-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1;
    padding-bottom: 1%;
    top: 10%;
    display: flex;
    gap: .5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

}


 .p-container > p {
    font-size: 20px;
    align-self: flex-end;
    padding-left: 0px;
    padding-right: 20px;
    border: 7px solid purple;
    background-color: #ffd778;
    text-shadow: 2px 2px 0px #eee, 5px 5px 0px #707070;;
    box-shadow:  2px 2px 0px #eee, 5px 5px 0px #707070;
    padding: 10px;
    
}

p > span {
    padding: 1px;
    height: 40px;
    width: auto;
}