// css reset
@import './styles/reset.scss';

// retro game typeface
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');

// start game popup
@import './styles/start.scss';

// stat boxes
@import './styles/stats.scss';

// canvas 
@import './styles/canvas.scss';

#game-header {
    // position: absolute;
    // top: 5%;
    // left: 50%;
    // transform: translate(-50%, -50%); 
    font-size: 20px;
    height: 100px;
    width: 100%; /** Use 100% to fill the width of the page **/
    // position: fixed;
    padding-top: 5px;
    align-self: center;
}

body {
    font-family: "Press Start 2P";
    background-color: rgb(226, 124, 0);
    display: flex;
    justify-content: center;
    // height: 100px;
}


